html, body {
    margin: 0;
    padding: 0;
}
a {
    color: #99b433;
    text-decoration: none;
}
h1 {
    text-shadow: 1px 1px 4px #ffffff;
    background-color: #9ACD32;
    color: #ffffff;
}


  .ui-widget-header {  
    background: #99b433;
    color: #fff;
  }
   .column {
    width: auto;
    float: center;
  }
  .portlet {
    margin: 0 1em 1em 0;
    padding: 0.1em;
  }
  .portlet-header {
    padding: 0.2em 0.3em;
    position: relative;
  }
.outer {
    position: relative;
}
.outer .header {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    background-color: #ffffff;
    width: 100%;
    height: 4rem;
    color: #99b433;
    position: fixed;
    z-index: 2;
    top: 0;
}
.content {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    height: 100%;
    background-color: #ffffff;
    margin-top: 4rem;
}
