html, body {
    margin: 0;
    padding: 0;
}
h1 {
    color: #30a590;
    background-color: #95d2cd;
}
.outer {
    position: relative;
}
.outer .header {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    background-color: #30a590;
    width: 100%;
    height: 2rem;
    color: #d8e18f;
    position: fixed;
    z-index: 2;
    top: 0;
}
.content {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    height: 1500px;
    background-color: #ddd;
    margin-top: 2rem;
}
