html, body {
    margin: 0;
    padding: 0;
}
a {
    color: #fff;
    text-decoration: none;
}
h1 {
    text-shadow: 1px 1px 4px #ffffff;
    background-color: #9ACD32;
    color: #ffffff;
}

.link {
    background-color: #9ACD32;
    width: auto;
    color: #fff;
}

.outer {
    position: relative;
}
.outer .header {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    background-color: #ffffff;
    width: 100%;
    height: 4rem;
    color: #99b433;
    position: fixed;
    z-index: 2;
    top: 0;
}
.content {
    font-family: "Helvetica Neue", "Arial", sans-serif;
    height: 100%;
    background-color: #ffffff;
    margin-top: 4rem;
}
